---
---
<div class="flex flex-row gap-4">
    <a
        href="mailto:rubencabrerizo17@gmail.com"
        target="_blank"
        role="link"
        rel="noopener noreferrer"
        aria-label="Contact me"
        class="group cursor-pointer flex items-center justify-center bg-dark_bg
      px-4 py-2 rounded-xl gap-3 outline-none hover:bg-gray-200 hover:text-main transition-all duration-200 ease-linear
      border-[#4b556380] border-[1px] bg-main"
    >
        <figure class="fill-primaryText group-hover:fill-main">
            <svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
                ></path>
            </svg>
        </figure>
        <span
            class="text-base @xl:text-lg group-hover:text-dark_border font-medium whitespace-nowrap tracking-wide"
        >
            Contáctame<span class="hidden @sm:inline"></span>
        </span>
    </a>
    <a
        href="/cv.pdf"
        download=""
        aria-label="Download CV"
        class="group cursor-pointer flex items-center justify-center bg-dark_bg
          px-4 py-2 rounded-xl gap-3 outline-none hover:bg-gray-200 hover:text-main transition-all duration-200 ease-linear
          border-[rgb(75,85,99,0.5)] border-[1px] bg-main"
    >
        <figure class="fill-primaryText group-hover:fill-main">
            <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path
                    d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM216 232l0 102.1 31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31L168 232c0-13.3 10.7-24 24-24s24 10.7 24 24z"
                ></path>
            </svg>
        </figure>
        <span
            class="text-base @xl:text-lg group-hover:text-dark_border font-medium whitespace-nowrap tracking-wide"
        >
            <span class="hidden @sm:inline">Descargar</span> CV
        </span>
    </a>
</div>

<style>
    .text-base {
        transition: none;
    }
</style>
