---
import LayoutContent from "@components/LayoutContent.astro"
---

<LayoutContent title="Sobre mí" description="Soy un desarrollador de software especializado en Aplicaciones Web">
  <div class="flex flex-col-reverse md:flex-row gap-6 md:gap-10 items-center md:items-start">
    <div class="space-y-4 w-full md:w-2/3">
      <h3 class="text-lg font-semibold">Ruben Cabrerizo Espinosa</h3>
      <h4 class="text-base text-accent font-medium">Desarrollador Web</h4>
      <p class="text-base leading-relaxed">
        Soy estudiante de Ingeniería de Software y actualmente me encuentro en los últimos ciclos de mi carrera. A lo largo de mi formación, he cultivado una mentalidad proactiva y empática, participando en voluntariados y proyectos de impacto social que me han permitido desarrollar habilidades blandas.
      </p>
      <p class="text-base leading-relaxed">
        Durante mi formación, he enfocado mi aprendizaje en el diseño centrado en el usuario y el rendimiento óptimo para aplicaciones web y móviles. De manera autodidacta, he adquirido habilidades para desarrollar soluciones accesibles y escalables.
      </p>
    </div>
    <img class="w-32 h-32 md:w-56 md:h-56 object-cover rounded-lg shadow-md" src="/careto.jpg" alt="Foto Ruben Cabrerizo" />
  </div>
</LayoutContent>


