---
    import LayoutContent from "@components/LayoutContent.astro";
---

<LayoutContent id="experiencia" title="Exprecience" description="Mi experiencia como desarrollador">
  <div class="flex flex-col gap-6">
    <div class="flex flex-col sm:flex-row items-stretch gap-4 sm:gap-10 w-full p-4">
      <div class="flex flex-col items-center sm:items-start w-full sm:w-1/3 space-y-2  sm:justify-start">
        <p class="text-xs text-accent font-semibold sm:mb-2">Marzo 2025 - Actualidad</p>
        <img class="w-16 h-16 rounded-full shadow mb-2" src="/aiudo.png" alt="Logo Aiudo">
      </div>
      <div class=" flex flex-col space-y-2 text-center sm:text-left  justify-start">
        <div class="flex flex-col sm:flex-row sm:items-start sm:space-x-4">
          <h2 class="text-lg font-bold">Desarrollador Fullstack</h2>
        </div>
        <div class="space-y-4">
          <p class="text-base text-primaryText/90">
              Durante mi etapa en <span class="font-semibold text-accent">Aiudo</span>, desarrollé el frontend de la página de cursos de formación de la empresa utilizando Next.js, mejorando la experiencia de usuario y facilitando el acceso a los contenidos formativos para los empleados.
          </p>
          <p class="text-base text-primaryText/90">
              Además, colaboré en la implementación de nuevas funcionalidades en el ERP de la empresa, como la creación de un calendario para gestionar las vacaciones y otras gestiones internas, utilizando Vue y Laravel para el desarrollo de estas herramientas.
          </p>
          <p class="text-base text-primaryText/90">
              Estas experiencias me permitieron trabajar con tecnologías modernas y aportar soluciones que optimizaron los procesos internos y la gestión del equipo.
          </p>
        </div>
        
      </div>
    </div>
    
  </div>
</LayoutContent>