---
import Codeigniter from "@components/icons/Codeigniter.astro";
import Laravel from "@components/icons/Laravel.astro";
import Next from "@components/icons/Next.astro";
import Vue from "@components/icons/Vue.astro";
import LayoutContent from "@components/LayoutContent.astro";
import CardProyect from "@components/about_me/CardProyect.astro";

---

<LayoutContent 
  id="proyectos"
  title="Proyectos"
  description="Mis proyectos mas destacados"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <CardProyect
      title="Longlife"
      description="Mi proyecto de nutrición"
      image="/portfolio/longlife.PNG"
      link="https://rubencabrerizo.com/longlife"
      icons={[Vue, Codeigniter]}
    />
    <CardProyect
      title="Formación aiudo"
      description="Proyecto para empresa de cursos"
      image="/portfolio/aiudoProyecto.PNG"
      link="https://formacion.aiudo.es/"
      icons={[Next, Laravel]}
    />
  </div>
</LayoutContent>