---
import Codeigniter from "@components/icons/Codeigniter.astro";
import Laravel from "@components/icons/Laravel.astro";
import Next from "@components/icons/Next.astro";
import Vue from "@components/icons/Vue.astro";
import LayoutContent from "@components/LayoutContent.astro";
import CardProyect from "@components/about_me/CardProyect.astro";
import Nuxt from "@components/icons/Nuxt.astro";
---

<LayoutContent 
  id="proyectos"
  title="Proyectos"
  description="Mis proyectos mas destacados"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <CardProyect
      title="Longlife"
      description="Mi proyecto de nutrición"
      image="/longlife.PNG"
      linkExternal="https://rubencabrerizo.com/longLife"
      link="/my-projects/longLife"
      icons={[Vue, Codeigniter]}
      finish={true}
    />
    <CardProyect
      title="Formación aiudo"
      description="Proyecto para empresa de cursos"
      image="/aiudoProyecto.PNG"
      linkExternal="https://formacion.aiudo.es/"
      link="/my-projects/aiudo-formacion"
      icons={[Next, Laravel]}
      finish={true}
    />
        <CardProyect
      title="Barber Time"
      description="Proyecto para automatizar citas de barberos"
      image="/barbertime.png"
      linkExternal="https://app.barbertime.es/"
      link="/my-projects/barbertime"
      icons={[Nuxt, Laravel]}
      finish={true}
    />
      <CardProyect
      title="Rubani"
      description="Proyecto en desarrollo para impulsar ideas y convertirlas en productos digitales. (EN PROCESO)"
      image="/rubani.png"
      linkExternal="#"
      link="#"
      icons={[Next, Laravel]}
      finish={true}
    />
  </div>
</LayoutContent>