---
import FooterIcon from "./icons/FooterIcon.astro";
---

<footer class="bg-main text-primaryText h-10 flex items-center justify-between">
    <div
        class="h-full w-8 xs:w-10 flex items-center bg-blue-500 justify-center"
    >
        <FooterIcon />
    </div>
    <div class="flex items-center justify-between w-full px-1.5">
        <div class="flex flex-row gap-3 item s-center h-full">
            <div
                class="flex-row gap-1 items-center hover:bg-hover_bg px-1 cursor-pointer hidden xs:flex"
            >
                <svg
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g clip-path="url(#clip0_24_213)">
                        <path
                            d="M17.5056 6.85105C17.5086 6.27281 17.3504 5.70518 17.049 5.21172C16.7475 4.71827 16.3147 4.31849 15.7988 4.05715C15.283 3.79581 14.7046 3.68325 14.1284 3.73205C13.5522 3.78086 13.001 3.98912 12.5365 4.3335C12.072 4.67788 11.7125 5.14478 11.4984 5.68191C11.2842 6.21904 11.2238 6.80518 11.324 7.37469C11.4241 7.9442 11.6809 8.47458 12.0654 8.90643C12.45 9.33828 12.9471 9.65455 13.5013 9.8198C13.2967 10.2356 12.9802 10.5861 12.5874 10.8319C12.1945 11.0777 11.7409 11.209 11.2775 11.2111H8.78626C7.86405 11.2142 6.976 11.5604 6.29501 12.1823V6.1648C7.05122 6.01046 7.72318 5.58082 8.18061 4.9592C8.63805 4.33757 8.84837 3.56823 8.77081 2.80035C8.69324 2.03246 8.33332 1.32072 7.76081 0.803132C7.1883 0.285539 6.444 -0.0010376 5.6722 -0.0010376C4.90041 -0.0010376 4.1561 0.285539 3.58359 0.803132C3.01109 1.32072 2.65116 2.03246 2.57359 2.80035C2.49603 3.56823 2.70635 4.33757 3.16379 4.9592C3.62123 5.58082 4.29318 6.01046 5.04939 6.1648V13.7629C4.29474 13.9072 3.61895 14.3226 3.14949 14.9308C2.68003 15.539 2.44934 16.298 2.50094 17.0645C2.55254 17.8311 2.88286 18.5523 3.4296 19.0921C3.97634 19.6319 4.7017 19.953 5.46887 19.9948C6.23605 20.0366 6.99201 19.7963 7.59417 19.3191C8.19633 18.8419 8.60307 18.1609 8.73768 17.4044C8.87228 16.648 8.72545 15.8685 8.32487 15.2128C7.92428 14.5572 7.29764 14.0708 6.56314 13.8454C6.7679 13.4301 7.0844 13.08 7.47711 12.8346C7.86982 12.5891 8.32317 12.4581 8.78626 12.4561H11.2775C12.0547 12.4525 12.8114 12.2067 13.4423 11.7529C14.0732 11.299 14.5469 10.6598 14.7975 9.92418C15.5442 9.82607 16.2301 9.46065 16.728 8.8956C17.226 8.33056 17.5022 7.60418 17.5056 6.85105ZM3.80376 3.11418C3.80376 2.61855 4.00065 2.14323 4.35111 1.79277C4.70157 1.44231 5.17689 1.24543 5.67251 1.24543C6.16814 1.24543 6.64346 1.44231 6.99392 1.79277C7.34438 2.14323 7.54126 2.61855 7.54126 3.11418C7.54126 3.6098 7.34438 4.08512 6.99392 4.43558C6.64346 4.78604 6.16814 4.98293 5.67251 4.98293C5.17689 4.98293 4.70157 4.78604 4.35111 4.43558C4.00065 4.08512 3.80376 3.6098 3.80376 3.11418ZM7.54126 16.8161C7.54126 17.3117 7.34438 17.787 6.99392 18.1375C6.64346 18.4879 6.16814 18.6848 5.67251 18.6848C5.17689 18.6848 4.70157 18.4879 4.35111 18.1375C4.00065 17.787 3.80376 17.3117 3.80376 16.8161C3.80376 16.3204 4.00065 15.8451 4.35111 15.4946C4.70157 15.1442 5.17689 14.9473 5.67251 14.9473C6.16814 14.9473 6.64346 15.1442 6.99392 15.4946C7.34438 15.8451 7.54126 16.3204 7.54126 16.8161ZM14.3913 8.7198C14.1459 8.71976 13.9029 8.67138 13.6761 8.57743C13.4494 8.48348 13.2435 8.3458 13.07 8.17224C12.8965 7.99868 12.7588 7.79265 12.665 7.5659C12.5711 7.33916 12.5228 7.09615 12.5228 6.85074C12.5229 6.60533 12.5712 6.36234 12.6652 6.13562C12.7591 5.90891 12.8968 5.70293 13.0704 5.52943C13.2439 5.35592 13.45 5.21831 13.6767 5.12443C13.9035 5.03056 14.1465 4.98226 14.3919 4.9823C14.8875 4.9823 15.3628 5.17919 15.7133 5.52965C16.0638 5.88011 16.2606 6.35543 16.2606 6.85105C16.2606 7.34668 16.0638 7.822 15.7133 8.17246C15.3628 8.52292 14.8875 8.7198 14.3919 8.7198H14.3913Z"
                            fill="#C0C0C0"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_24_213">
                            <rect width="20" height="20" fill="white"></rect>
                        </clipPath>
                    </defs>
                </svg>
                <span class="text-sm mb-0.5">main</span>
            </div>
            <div class="flex-row gap-1 items-center h-full hidden lg:flex">
                <div
                    class="flex items-center justify-center hover:bg-hover_bg px-1 cursor-pointer h-full"
                >
                    <svg
                        width="17"
                        height="16"
                        viewBox="0 0 22 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M16.9347 5H17.0093C18.2 5 19.3427 5.47467 20.1853 6.31867C21.0276 7.16322 21.5005 8.30728 21.5005 9.5C21.5005 10.6927 21.0276 11.8368 20.1853 12.6813C19.7687 13.0993 19.2737 13.4309 18.7287 13.6571C18.1837 13.8834 17.5994 13.9999 17.0093 14H14.016V12.5H17.0093C17.804 12.5 18.5653 12.184 19.1267 11.6213C19.6883 11.0582 20.0037 10.2953 20.0037 9.5C20.0037 8.70467 19.6883 7.9418 19.1267 7.37867C18.8489 7.10016 18.5189 6.87919 18.1555 6.72841C17.7922 6.57764 17.4027 6.50002 17.0093 6.5H15.64L15.4533 5.21467C15.3409 4.40966 14.9689 3.66332 14.3937 3.08893C13.8186 2.51454 13.0718 2.14346 12.2667 2.032C11.4607 1.92175 10.6407 2.07894 9.93266 2.47946C9.22458 2.87998 8.66743 3.50173 8.34667 4.24934L7.848 5.39334L6.63467 5.10934C6.35669 5.04044 6.07171 5.00375 5.78534 5C4.79334 5 3.84134 5.39467 3.13867 6.09867C2.43675 6.80251 2.04257 7.75598 2.04257 8.75C2.04257 9.74403 2.43675 10.6975 3.13867 11.4013C3.84134 12.1053 4.79201 12.5 5.78534 12.5H9.52667V14H5.784C5.0408 14.0068 4.3047 13.8549 3.62482 13.5547C2.94494 13.2544 2.33693 12.8126 1.84134 12.2587C1.21951 11.5652 0.793243 10.7188 0.606234 9.80631C0.419225 8.89382 0.478195 7.94801 0.7771 7.06581C1.07601 6.18361 1.6041 5.39675 2.30726 4.78586C3.01042 4.17497 3.86336 3.76202 4.77867 3.58934C5.50882 3.45258 6.25972 3.47304 6.98134 3.64934C7.31919 2.87034 7.84219 2.18565 8.5049 1.65479C9.1676 1.12394 9.94994 0.762987 10.7839 0.603318C11.6179 0.443649 12.4782 0.490095 13.2901 0.738619C14.102 0.987143 14.841 1.43022 15.4427 2.02934C16.2493 2.83067 16.772 3.87334 16.9347 5ZM14.4387 10.78L12.468 8.80934V16.9627H10.9773V8.864L9.06 10.78L8 9.72L11.22 6.5H12.28L15.5 9.72L14.4387 10.78Z"
                            fill="#C0C0C0"></path>
                    </svg>
                </div>
                <div
                    class="flex items-center justify-center hover:bg-hover_bg px-1 cursor-pointer h-full"
                >
                    <svg
                        width="12"
                        height="12"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.6021 8.01692C14.6099 7.8372 14.6869 7.66743 14.8171 7.54301C14.9473 7.41859 15.1206 7.34914 15.3009 7.34914C15.4812 7.34914 15.6545 7.41859 15.7847 7.54301C15.9149 7.66743 15.9919 7.8372 15.9997 8.01692C15.9995 9.60217 15.5262 11.1515 14.6402 12.4673C13.7542 13.7832 12.4955 14.8059 11.0247 15.4053C9.55391 16.0047 7.93754 16.1534 6.38166 15.8326C4.82578 15.5119 3.40087 14.7361 2.28856 13.6042V15.2122C2.28856 15.3973 2.21487 15.5748 2.08369 15.7057C1.95252 15.8366 1.77461 15.9101 1.58911 15.9101C1.4036 15.9101 1.22569 15.8366 1.09452 15.7057C0.963344 15.5748 0.889652 15.3973 0.889652 15.2122V11.6289C0.891372 11.4449 0.965823 11.2691 1.09681 11.1396C1.2278 11.0101 1.40472 10.9375 1.58911 10.9375H5.21948C5.31379 10.9334 5.40794 10.9484 5.49628 10.9816C5.58462 11.0149 5.6653 11.0656 5.73347 11.1307C5.80165 11.1959 5.8559 11.2741 5.89297 11.3607C5.93003 11.4473 5.94914 11.5406 5.94914 11.6348C5.94914 11.7289 5.93003 11.8222 5.89297 11.9088C5.8559 11.9954 5.80165 12.0736 5.73347 12.1388C5.6653 12.2039 5.58462 12.2547 5.49628 12.2879C5.40794 12.3211 5.31379 12.3361 5.21948 12.332H3.00106C3.88201 13.3483 5.05329 14.0714 6.35784 14.4046C7.6624 14.7378 9.03786 14.665 10.2998 14.196C11.5617 13.727 12.6497 12.8843 13.418 11.7808C14.1863 10.6773 14.5981 9.36577 14.5982 8.02212L14.6021 8.01692ZM13.9104 0.697904C13.9064 0.603803 13.9214 0.509852 13.9547 0.42171C13.988 0.333569 14.0388 0.253061 14.1041 0.185037C14.1694 0.117012 14.2478 0.0628784 14.3346 0.0258962C14.4214 -0.011086 14.5149 -0.0301514 14.6093 -0.0301514C14.7036 -0.0301514 14.7971 -0.011086 14.8839 0.0258962C14.9707 0.0628784 15.0491 0.117012 15.1144 0.185037C15.1797 0.253061 15.2305 0.333569 15.2638 0.42171C15.2971 0.509852 15.3121 0.603803 15.3081 0.697904V4.31509C15.3077 4.49884 15.2348 4.67505 15.105 4.80547C14.9753 4.93588 14.7993 5.00999 14.6151 5.01171H11.0187C10.9244 5.01577 10.8302 5.00075 10.7419 4.96754C10.6535 4.93434 10.5729 4.88363 10.5047 4.81849C10.4365 4.75334 10.3823 4.67509 10.3452 4.58847C10.3081 4.50184 10.289 4.40863 10.289 4.31444C10.289 4.22025 10.3081 4.12704 10.3452 4.04041C10.3823 3.95379 10.4365 3.87554 10.5047 3.8104C10.5729 3.74525 10.6535 3.69454 10.7419 3.66134C10.8302 3.62813 10.9244 3.61311 11.0187 3.61717H12.9187C12.0265 2.62334 10.8529 1.92322 9.55324 1.60943C8.25356 1.29564 6.88903 1.38297 5.64018 1.85988C4.39133 2.33678 3.31702 3.18078 2.55939 4.28021C1.80176 5.37963 1.39652 6.68267 1.39728 8.01692C1.40135 8.11102 1.3863 8.20497 1.35302 8.29311C1.31974 8.38125 1.26892 8.46176 1.20363 8.52978C1.13834 8.59781 1.05992 8.65194 0.973109 8.68892C0.886293 8.7259 0.792873 8.74497 0.698477 8.74497C0.60408 8.74497 0.510661 8.7259 0.423845 8.68892C0.337029 8.65194 0.258614 8.59781 0.193323 8.52978C0.128031 8.46176 0.0772151 8.38125 0.043935 8.29311C0.0106549 8.20497 -0.00440041 8.11102 -0.000324054 8.01692C0.00042054 6.62731 0.364681 5.26196 1.05644 4.0559C1.74819 2.84983 2.74348 1.84483 3.94387 1.14028C5.14426 0.435726 6.50818 0.0560253 7.90074 0.0387279C9.2933 0.0214304 10.6663 0.367135 11.8839 1.04165C12.641 1.46217 13.3253 2.00163 13.9104 2.63931V0.697904Z"
                            fill="#C0C0C0"></path>
                    </svg>
                </div>
            </div>
            <div
                class="cursor-pointer flex-row items-center gap-3 h-full hover:bg-hover_bg px-1 hidden sm:flex"
            >
                <div class="flex items-center justify-center gap-1.5 h-full">
                    <svg
                        width="14"
                        height="14"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.75002 0.249979C11.75 0.374424 13.6245 1.37442 15 2.74998C16.6245 4.49998 17.5 6.62442 17.5 9.12442C17.5 11.1244 16.75 13 15.5 14.6244C14.25 16.1244 12.5 17.25 10.5 17.6244C8.50002 18 6.50002 17.75 4.75002 16.75C3.00002 15.75 1.62446 14.25 0.87446 12.3744C0.124459 10.5 1.49608e-05 8.37442 0.624459 6.49998C1.25002 4.49998 2.37446 2.87442 4.12446 1.74998C5.75002 0.624424 7.75002 0.124424 9.75002 0.249979ZM10.3745 16.3744C12.0441 15.9978 13.5399 15.074 14.6245 13.75C15.6245 12.3744 16.25 10.75 16.1245 8.99998C16.1245 6.99998 15.3745 4.99998 14 3.62442C12.75 2.37442 11.25 1.62442 9.50002 1.49998C7.87446 1.37442 6.12446 1.74998 4.75002 2.74998C3.34914 3.75658 2.33451 5.21188 1.87446 6.87442C1.37446 8.49998 1.37446 10.25 2.12446 11.8744C2.87446 13.5 4.00001 14.75 5.50001 15.6255C6.97037 16.4862 8.71339 16.7533 10.3745 16.3744ZM8.87446 8.37442L11.8745 5.24998L12.75 6.12442L9.75002 9.24998L12.75 12.3755L11.8745 13.25L8.87446 10.1244L5.87446 13.25L5.00002 12.3755L8.00002 9.24998L5.00002 6.12442L5.87446 5.24998L8.87446 8.37442Z"
                            fill="#C0C0C0"></path>
                    </svg>
                    <span class="text-sm">0</span>
                </div>
                <div class="flex items-center justify-center gap-1.5 h-full">
                    <svg
                        width="14"
                        height="14"
                        viewBox="0 0 18 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M8.45 0.25H9.55L17.7244 15.5756L17.1744 16.5H0.8L0.25 15.5756L8.45 0.25ZM9 1.85L1.85 15.25H16.1244L9 1.85ZM9.78111 14V12.75H8.21889V14H9.78111ZM8.21889 11.5V6.5H9.78111V11.5H8.21889Z"
                            fill="#C0C0C0"></path>
                    </svg>
                    <span class=" text-sm">0</span>
                </div>
            </div>
            <a
                href="https://discord.com/users/680496667979546704"
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center justify-center gap-1.5 hover:bg-hover_bg px-1 cursor-pointer h-full"
            >
                <svg
                    width="18"
                    height="10"
                    viewBox="0 0 22 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M13 0L9.25 5L12.1 8.8L10.5 10C8.81 7.75 6 4 6 4L0 12H22L13 0Z"
                        fill="#C0C0C0"></path>
                </svg>
                <span class=" text-sm">Connect Discord</span>
            </a>
        </div>
        <div
            class="flex flex-row gap-3 items-center h-full [&>div]:cursor-pointer [&>div]:h-full"
        >
            <div
                class="flex-row items-center hover:bg-hover_bg px-1 hidden lg:flex"
            >
                <span class=" text-sm">Ln: 1, Col 10</span>
            </div>
            <div
                class="flex-row items-center hover:bg-hover_bg px-1 hidden lg:flex"
            >
                <span class=" text-sm">Spaces: 10</span>
            </div>
            <div
                class="flex-row items-center hover:bg-hover_bg px-1 hidden lg:flex"
            >
                <span class=" text-sm">CRLF</span>
            </div>
            <a
                href="https://docs.astro.build/es/getting-started/"
                target="_blank"
                rel="noopener noreferrer"
                class="flex flex-row gap-1 items-center hover:bg-hover_bg pl-0.5 pr-1"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke="#C0C0C0"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9.5 5H9a2 2 0 0 0-2 2v2c0 1-.6 3-3 3c1 0 3 .6 3 3v2a2 2 0 0 0 2 2h.5m5-14h.5a2 2 0 0 1 2 2v2c0 1 .6 3 3 3c-1 0-3 .6-3 3v2a2 2 0 0 1-2 2h-.5"
                    ></path>
                </svg>
                <span class=" text-sm">Astro + React</span>
            </a>
            <div
                class="flex-row gap-1 items-center hover:bg-hover_bg pl-0.5 pr-1 hidden sm:flex"
            >
                <svg
                    width="16"
                    height="16"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M6.41665 2.76589C7.77326 1.85921 9.36827 1.37518 11 1.375C13.1872 1.37759 15.2841 2.24761 16.8308 3.79423C18.3774 5.34084 19.2474 7.43776 19.25 9.625C19.2501 11.3303 18.7218 12.9937 17.7377 14.3864C16.7537 15.779 15.3622 16.8326 13.7549 17.402V17.3409L13.8196 17.2798C14.201 16.8972 14.4149 16.379 14.4149 15.84V15.6518C15.2431 15.1815 15.9656 14.5457 16.5374 13.7839C17.1091 13.0222 17.5178 12.1508 17.738 11.2242C17.9581 10.2975 17.9851 9.33544 17.8171 8.39792C17.6491 7.46041 17.2898 6.56755 16.7615 5.775C16.1809 4.90586 15.4113 4.17932 14.5101 3.64975C13.609 3.12019 12.5997 2.80132 11.5579 2.71702C10.5161 2.63273 9.46872 2.78518 8.49416 3.16298C7.51961 3.54077 6.64314 4.13412 5.93036 4.8986C5.21758 5.66308 4.68696 6.5789 4.37823 7.57748C4.06949 8.57606 3.99064 9.63155 4.14757 10.6649C4.3045 11.6983 4.69314 12.6828 5.28442 13.5447C5.87569 14.4066 6.65427 15.1236 7.56187 15.642V15.84C7.56194 16.1221 7.62065 16.401 7.73427 16.6592C7.84789 16.9174 8.01393 17.1491 8.22187 17.3397V17.3934C6.78305 16.8783 5.51557 15.9738 4.56069 14.7806C3.60582 13.5874 3.00108 12.1524 2.8139 10.6357C2.62672 9.11895 2.86444 7.58003 3.50057 6.19048C4.1367 4.80093 5.14624 3.61534 6.41665 2.76589Z"
                        fill="#C0C0C0"></path>
                    <path
                        d="M12.8468 16.3069C12.7855 16.3682 12.7127 16.4168 12.6325 16.4499C12.5524 16.483 12.4666 16.5001 12.3799 16.5V19.965C12.3799 20.0517 12.3628 20.1375 12.3297 20.2176C12.2965 20.2976 12.2479 20.3704 12.1866 20.4317C12.1253 20.493 12.0525 20.5416 11.9725 20.5748C11.8924 20.6079 11.8066 20.625 11.7199 20.625H10.2569C10.2728 20.625 10.252 20.6189 10.2104 20.6079C10.1066 20.581 9.87922 20.5199 9.79122 20.4319C9.72995 20.3706 9.68136 20.2978 9.64822 20.2177C9.61509 20.1375 9.59806 20.0517 9.59811 19.965V16.5C9.51142 16.5001 9.42557 16.483 9.34546 16.4499C9.26535 16.4168 9.19255 16.3682 9.13122 16.3069L9.119 16.2947C9.00223 16.1721 8.93703 16.0093 8.93689 15.84V13.0619C8.93721 12.6974 9.08222 12.348 9.34005 12.0904C9.59788 11.8328 9.94743 11.6881 10.3119 11.6881H11.6649C12.0293 11.6884 12.3786 11.8332 12.6364 12.0908C12.8941 12.3483 13.0392 12.6975 13.0399 13.0619V15.84C13.0397 16.0123 12.9721 16.1776 12.8517 16.3008L12.8468 16.3069Z"
                        fill="#C0C0C0"></path>
                    <path
                        d="M14.63 9.62499C14.63 10.3461 14.4137 11.0477 14.0189 11.6392C14.2707 12.0548 14.4149 12.5412 14.4149 13.0631V13.2085C14.9 12.7462 15.2861 12.1902 15.55 11.5742C15.8139 10.9582 15.95 10.2951 15.95 9.62499C15.9484 8.31266 15.4264 7.05455 14.4984 6.1266C13.5705 5.19864 12.3124 4.6766 11 4.67499C10.0135 4.67491 9.04948 4.9696 8.23162 5.52125C7.41377 6.0729 6.7794 6.85634 6.40992 7.77105C6.04044 8.68575 5.9527 9.69 6.15796 10.6549C6.36322 11.6198 6.85212 12.5014 7.56192 13.1865V13.0631C7.56192 12.5351 7.71103 12.0413 7.96892 11.6221C7.65757 11.1496 7.461 10.6109 7.39489 10.0489C7.32878 9.4869 7.39497 8.91725 7.58816 8.3854C7.78136 7.85354 8.09623 7.37422 8.50761 6.9857C8.919 6.59717 9.41552 6.31021 9.95754 6.1477C10.4996 5.98519 11.0721 5.95165 11.6293 6.04975C12.1866 6.14785 12.7133 6.37488 13.1672 6.7127C13.6212 7.05053 13.9898 7.4898 14.2438 7.99546C14.4978 8.50111 14.6301 9.05913 14.63 9.62499Z"
                        fill="#C0C0C0"></path>
                    <path
                        d="M12.375 9.625C12.375 9.98967 12.2301 10.3394 11.9723 10.5973C11.7144 10.8551 11.3647 11 11 11C10.6353 11 10.2856 10.8551 10.0277 10.5973C9.76987 10.3394 9.625 9.98967 9.625 9.625C9.625 9.26033 9.76987 8.91059 10.0277 8.65273C10.2856 8.39487 10.6353 8.25 11 8.25C11.3647 8.25 11.7144 8.39487 11.9723 8.65273C12.2301 8.91059 12.375 9.26033 12.375 9.625Z"
                        fill="#C0C0C0"></path>
                </svg>
                <span class=" text-sm">Go Live</span>
            </div>
            <div
                class="flex-row items-center hover:bg-hover_bg px-1 hidden xxs:flex"
            >
                <svg
                    width="15"
                    height="15"
                    viewBox="0 0 19 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M15.875 11.2369C16.0131 12.0619 16.15 12.75 16.425 13.575L17.25 15.9119L16.5619 16.875H11.75C11.75 17.5631 11.475 18.25 10.925 18.8C10.375 19.35 9.68811 19.625 9 19.625C8.31189 19.625 7.48811 19.35 7.075 18.8C6.81686 18.5498 6.611 18.2507 6.46938 17.9203C6.32775 17.5898 6.25319 17.2345 6.25 16.875H1.43689L0.75 15.9131L1.575 13.575C1.85 12.475 2.125 11.375 2.125 10.275V7.25C2.125 6.28811 2.26189 5.325 2.675 4.5C3.08689 3.53689 3.63689 2.85 4.325 2.16189C5.01311 1.475 5.83689 1.06189 6.8 0.786889C7.50244 0.517848 8.24781 0.378298 9 0.375C8.725 0.786889 8.45 1.33811 8.175 1.88689C7.9 1.88689 7.625 1.88689 7.21311 2.16189C6.525 2.3 5.83689 2.71189 5.28811 3.26189C4.73811 3.675 4.18811 4.36189 3.91311 5.05C3.63136 5.74882 3.49095 6.49657 3.5 7.25V10.275C3.5 11.5131 3.225 12.75 2.95 13.9869L2.4 15.5H15.6L15.05 13.9869C14.8092 13.2646 14.6736 12.4347 14.5513 11.6854L14.5 11.375C15.05 11.375 15.4619 11.375 15.875 11.2369ZM9 18.25C9.275 18.25 9.68811 18.1119 9.96189 17.8369C10.2369 17.5619 10.375 17.2869 10.375 16.875H7.625C7.625 17.2881 7.76189 17.5631 8.03811 17.8369C8.31311 18.1119 8.725 18.25 9 18.25ZM18.625 4.5C18.625 5.59402 18.1904 6.64323 17.4168 7.41682C16.6432 8.1904 15.594 8.625 14.5 8.625C13.406 8.625 12.3568 8.1904 11.5832 7.41682C10.8096 6.64323 10.375 5.59402 10.375 4.5C10.375 3.40598 10.8096 2.35677 11.5832 1.58318C12.3568 0.809597 13.406 0.375 14.5 0.375C15.594 0.375 16.6432 0.809597 17.4168 1.58318C18.1904 2.35677 18.625 3.40598 18.625 4.5Z"
                        fill="#C0C0C0"></path>
                </svg>
            </div>
        </div>
    </div>
</footer>
