---
import Cerrar from "./icons/Cerrar.astro";

const items: string[] = Astro.props.items || ['Archivo', 'Editar'];
const activeItem = Astro.props.activeItem || ''; // para futura selección
---

<nav class="w-full h-[50px] bg-[#1F1F1F] border-b border-[#2A2A2A] px-2 flex items-center">
  <ul class="flex text-sm font-medium">
    {items.map((item: string) => (
      <li>
        <a
          href="#"
          class="group flex items-center gap-2 px-3 py-1.5"
        >
          <figure class="size-[20px]">
            <img
              alt="icon"
              src="/icons/star-icon.svg"
              class="w-full h-full object-contain"
            />
          </figure>
          <span class="text-secondary text-[15px] whitespace-nowrap group-hover:text-white">
            {item}
          </span>
          <span class="opacity-0 group-hover:opacity-100 transition"><Cerrar/></span>
        </a>
      </li>
    ))}
  </ul>
</nav>
