---
import Layout from "@layouts/Layout.astro";
import Acerca from "@components/aiudo-formacion/acerca.astro";
import Tecnologias from "@components/aiudo-formacion/Tecnologias.astro";
import Desafio from "@components/aiudo-formacion/desafio.astro";
---

<Layout pageName="aiudo-formacion">
    <section class="relative container mx-auto p-10 h-full">
        <Acerca />
        <Tecnologias />
        <Desafio />
    </section>
</Layout>