---
import Layout from "@layouts/Layout.astro";
import Acerca from "@components/barbertime/Acerca.astro";
import Tecnologias from "@components/barbertime/Tecnologias.astro";
import Desafio from "@components/barbertime/Desafio.astro";
---

<Layout pageName="barbertime">
    <section class="relative container mx-auto p-10 h-full">
        <Acerca />
        <Tecnologias />
        <Desafio />
    </section>
</Layout>
